
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body {
  font-size: clamp(14px, 1.5vw, 76px);
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}
